config olcrtc 'main'
	option enabled       '0'
	option carrier       'wbstream'
	option transport     'datachannel'
	option room_id       ''
	option client_id     'default'
	option key           ''
	option dns           '1.1.1.1:53'
	option link          'direct'
	option socks_host    '127.0.0.1'
	option socks_port    '8808'
	option socks_user    ''
	option socks_pass    ''
	option data_dir      '/usr/share/olcrtc/data'

# --- videochannel ---
#	option video_w           '1920'
#	option video_h           '1080'
#	option video_fps         '30'
#	option video_bitrate     '2M'
#	option video_hw          'none'
#	option video_codec       'qrcode'
#	option video_qr_recovery 'low'
#	option video_qr_size     '0'
#	option video_tile_module '4'
#	option video_tile_rs     '20'

# --- vp8channel ---
#	option vp8_fps   '25'
#	option vp8_batch '1'

# --- seichannel ---
#	option sei_fps    '20'
#	option sei_batch  '1'
#	option sei_frag   '900'
#	option sei_ack_ms '3000'
