config tunnel 'main'
	option enabled    '0'
	option tun_name   'olctun'
	option tun_ipv4   '198.18.0.1'
	option tun_mask   '15'
	option mtu        '1400'
	option socks_host '127.0.0.1'
	option socks_port '8808'
	option socks_user ''
	option socks_pass ''
	option log_level  'warn'
	# auto_route: if 1, add LAN policy routing to send LAN->tun automatically
	option auto_route '0'
	option lan_iface  'br-lan'
